NET "a" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "b" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ; 
NET "c" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ; 
NET "d" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
